<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>年度进度条</title>
    
</head>

<body>
    <div class="abstract" style="display: none; font-size: 0; line-height: 0;"><%= one %></div>
    <div class="box" style="background: #c3dfe0; height: 100%; margin: 0 auto; max-width: 500px; padding: 50px 0; width: 100%;">
        <h1 style="color: #fff; font-size: 30px; margin-top: 0; text-align: center;">2018 已经过了.... </h1>
        <div id="progress" style="border: 5px solid #fff; border-radius: 25px; height: 40px; margin: 30px auto; overflow: hidden; width: 80%;">
            <div id="bar" style="background: #7ca9c8; color: #fff; font-size: 20px; height: 100%; line-height: 40px; text-align: center; width: <%= width %>;"><%= width %></div>
        </div>
        <p style="color: #fff; font-size: 0.9rem; padding: 0px 13%;"><%= one %></p>
    </div>
</body>

</html>