<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>年度进度条</title>
    
</head>

<body>
    <div class="box" style="background: #c3dfe0; height: 100%; padding: 20% 0; width: 100%;">
        <h1 style="color: #fff; font-size: 3rem; margin-top: 0; text-align: center;">2018 已经过了.... </h1>
        <div id="progress" style="border: 0.625rem solid #fff; border-radius: 3.75rem; height: 6.25rem; margin: 0 auto; overflow: hidden; width: 80%;">
            <div id="bar" style="background: #7ca9c8; color: #fff; font-size: 2rem; height: 100%; line-height: 6.25rem; text-align: center; width: <%= width %>;"><%= width %></div>
        </div>
    </div>
</body>

</html>