.modal-content h4{
    text-align: center;
    color: #555;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
}

.btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 6rem;
    height: 3rem;
    box-shadow: 1px 1px 3px 1px #bbb;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: #fff;
}
.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    position: relative;
    width: 50%;
    max-width: 460px;
    height: 250px;
    margin: 3rem auto;
    border-radius:10px;
    background-color:#fff;
    -webkit-animation: zoom 0.3s;
    animation: zoom 0.3s;
}
@-webkit-keyframes zoom{
    0% {-webkit-transform: scale(0.7); }
      45% {-webkit-transform: scale(1.05); }
      80% {-webkit-transform: scale(0.95); }
      100% {-webkit-transform: scale(1); }
}
@keyframes zoom{
    0% {transform: scale(0.7);}
      45% {transform: scale(1.05);}
      80% {transform: scale(0.95);}
      100% {transform: scale(1);}
}

.modal-body{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}
.modal-body input {
    width: 15rem;
    height: 2rem;
    border: 1px solid #e7e7e7;
    background: #fafafa;
    outline: none;
}
.modal-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.modal-footer button{
    width: 6rem;
    height: 3rem;
    color: white;
    margin: 0 1.5rem;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 0.3rem;
    outline: none;
}
#cancel {
    background-color: #dc3545;
}
#sure {
    background-color: #28a745;
}
.modal-footer button:hover{
    opacity: 0.85;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
}