body {
    background: #f5f5f5;
    min-width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#app {
    margin: 0 auto;
    width: 500px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
    , 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todos-head-title {
    text-align: center;
    margin: 20px;
    font-size: 100px;
    font-weight: 100;
    color:rgba(255, 134, 134, 0.7); 
}

.todos-head {
    height: 50px;
    background: #fff;
}

#all {
    display: none;
}
.all {
    position: relative;
    display: block;
    width: 50px;
}
.all::before {
    position: absolute;
    top: 13px;
    left: 15px;
    display: block;
    cursor: pointer;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
    transform: rotate(45deg);
}
.todos-head input {
    padding-left: 40px;
    margin-left: 30px;
    font-size: 20px;
    width: 60%;
    height: 48px;
    border: none;
    outline: none;
    color: #888;
}
.todos-head input::-webkit-input-placeholder{
    color: #ddd;
}
.todos-head button {
    float: right;
    width: 80px;
    height: 48px;
    outline: none;
    border: none;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    color: #aaa;
}
.todos-list {
    margin: 0;
    padding: 0;
}
.todos-item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 50px;
    border-top: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
}
.todos-item input[type="checkbox"] {
    display: none;
}
.todos-item label {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 11px;
    width: 24px;
    height: 24px;
    border: #aaa solid 1.5px;
    border-radius: 50%;
}

.todos-item .nocomplete:hover::before {
    position: absolute;
    top: 1px;
    left: 7px;
    display: block;
    cursor: pointer;
    content: "";
    width: 8px;
    height: 16px;
    border-radius: 3px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    transform: rotate(45deg);
}

.todos-item .complete {
    border: #41B883 solid 1.5px;
}
.todos-item .complete::before {
    position: absolute;
    top: 1px;
    left: 7px;
    display: block;
    cursor: pointer;
    content: "";
    width: 8px;
    height: 16px;
    border-radius: 3px;
    border-right: 2px solid #41B883;
    border-bottom: 2px solid #41B883;
    transform: rotate(45deg);
}

.todos-item-text {
    flex-grow: 1;
}
.todos-item-text .text, .todos-item-text input{
    user-select: none;
    margin: 0;
    padding: 0 0 0 20px;
    height: 100%;
    line-height: 50px;
    width: 100%;
    border: none;
    color: #555;
    outline: none;
    font-size: 30px;
}
.todos-item-text .strickout {
    color: #aaa;
    text-decoration:line-through;
}

.todos-item-text input{
    color: #888;
    text-decoration:underline;
}
.todos-item .shut {
    display: block;
    visibility: hidden;
    cursor: pointer;
    margin: 11px;
    width: 26px;
    height: 26px;
    color: #c1c1c1;
    border: #c1c1c1 solid 1.5px;
    background: #fff;
    border-radius: 50%;
    outline: none;
}
.todos-item:hover .shut {
    visibility: visible;
}
.shut:hover {
    color: #FF6666;
    border: #FF6666 solid 1.5px;
}


.todos-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    /* padding-bottom: 0; */
    position: relative;
    /* width: 100%; */
    /* background: #000; */
}
.todos-footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todos-footer .item-count {
    color: #aaa;
    font-size: 12px;
}

.todos-footer button {
    border: none;
    cursor: pointer;
    background: initial;
    font-size: 12px;
    color: #888;
    border: transparent solid 1px;
    outline: none;
    padding: 0;
}
.todos-footer .activation {
    padding: 1px 6px;
    border: #FF6666 solid 1px;
    border-radius: 3px;
    color: #FF6666;
}
.todos-footer button:hover {
    color: #FF6666;
}

@media only screen and (max-width: 567px) {
    body {
        /* min-width: 366px; */
        min-width: auto;
    }
    #app {
        width: 95%;
    }
    .todos-head button {
        width: 60px;
    }
    .todos-head-title {
        margin: 30px 0;
        font-size: 80px;
        font-weight: 100;
        color: #2c3e50;
    }
    .todos-head input {
        width: 50%;
    }
    .todos-footer {
        flex-wrap: wrap;
    }
}