html{
  color: rgb(255, 196, 0);
  font-size: 30px;
  text-align: center;
  background:rgb(238, 234, 199);
  user-select: none;
}

#app {
  border: aquamarine solid 3px;
  width: 500px;
  height: 500px;
}