/* 清楚默认效果 */
* {
    margin: 0;
    padding: 0;
}

/* 定义loading样式 */
.loading {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: aqua;
    /* background: url(../image/lyBG7.png); */
    background: linear-gradient(#ffd7c5,#00adf1);
    background-size: cover; 
    background-attachment: fixed; 
}

.loading-img {
    height: 90px;
    width: 90px;
    background: url(../image/hero_head_1_cat.png);
}
/* 设置大盒子水平垂直居中 */
@keyframes box_float {
    100% {
        transform: translate(-50%,-30%);
    }
}
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
    animation-name: box_float;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.qiu {
    /* position: absolute; */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 0 auto;
}
.minibox{
    height: 90px;
    width: 90px;
}
/* 小球旋转动画 */
@keyframes rotating {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.box2 {
    position: absolute;
    top: -20px;
    animation: rotating 1s ease-in-out infinite;
}
/* 文字动画 */
@keyframes texteffect{
    100%{
        color: aliceblue;
    }
}
.text {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 20px;
    transform: translate(-50%,-70%);
    color: rgba(240, 248, 255, 0.5);
    animation: texteffect 1s ease infinite alternate;
}
/* 撑开背景 */
#page {
}
/* 背景样式 */
body {
    overflow-x: hidden;
}
.content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.BackGround {
    position: absolute;
    width: 20000px;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(#ffd7c5,#00adf1);
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url('../image/cloud.png');
}

.mountain1 {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('../image/mountain_1.png');
}
.mountain2 {
    position: absolute;
    bottom: 20px;
    left: -300px;
    width: 100%;
    height: 200px;
    background: url('../image/mountain_2.png');
}

.trees {
    position: absolute;
    bottom: 70px;
    left: -200px;
    width: 100%;
    height: 150px;
    background: url('../image/tree.png');
    background-size: auto 150px; 
    
}
.ground {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url('../image/ground.png');
    background-size: auto 70px;
}
/* 开始界面 */
.me {
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.name {
    width: 500px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #333;
    background: #fff;
}

.sketch {
    width: 420px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 3px solid #333;
    background: #fff;
    margin: 20px auto;
}

.btn {
    border: none;
    width: 130px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    border: 2px solid #333;
    background: #fff;
    color: #333;
    margin: 20px auto;
}

.me .text {
    top: 105%;
}

/* 怪物（障碍物） */

.block {
    position: absolute;
    bottom: 80px;
    /* border: #00adf1 solid 2px; */
    width: 200px;
    height: 120px;
    background: url(../image/Bee2.png) no-repeat;
    background-size: cover;
  }
  
.block1 {
    left: 2000px;
    
  }
.block2 {
    left: 6000px;
    width: 160px;
    height: 80px;
    background: url(../image/Bee.png) no-repeat;
  }
.block3 {
    left: 10000px;
  }
.block4 {
    left: 13000px;
    width: 160px;
    background: url(../image/Bee.png) no-repeat;
  }
/* 人物 */

#people-content {
    position: fixed;
    width: 70px;
    height: 105px;
    left: 200px;
    bottom: 60px;
    overflow: hidden;
}

.people {
    position: absolute;
    width: 280px;
    height: 210px;
    left: 0;
    top: 0;
    background: url('../image/cat.png') no-repeat;
    background-size: auto 210px;
}
