.imglist {
    overflow: auto;
}
.imgbox {
    display: inline-block;
    /* overflow: auto; */
}
.imgbox h3 {
    text-align: center;
}

.img,.bar {
    float: left;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 3px;
    border: 1px solid #aaa;
}
.bar {
    width: 350px;
    height: 320px;
    padding: 0 0 0 10px;
}