@charset "UTF-8"; 

html,body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0; 
	background-color: #ece060;
	overflow: hidden;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
#app {
  position: relative;
  box-sizing: border-box;
  border: #414042 solid 3px;
  background: #fff;
  margin: 0 auto;
  margin-top: 30px;
	width: 80vw;
	height: 80vw; 
}

.num {
  position: absolute;
  top: -27px;
}
.level {
	position: absolute;
	top: -27px;
	right: 0;
}
.snake-controller {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
	width: 100%;
	padding-bottom: 10px;
}

.snake-switch {
	width: 50px; 
	height: 53px; 
	background: url(../../images/switch@2x.png) 0 0 no-repeat; 
	background-size: 100% 100%;
	border: 0 none; 
	appearance: none; 
	-webkit-appearance: none; 
	outline: 0; 
}

.snake-trigger {
	width: 50px; 
	height: 50px; 
	background: url(../../images/pause@2x.png) 0 0 no-repeat; 
	background-size: 100% 100%; 
	border: 0 none; 
	appearance: none; 
	-webkit-appearance: none; 
	outline: 0; 
}
.snake-trigger:checked {
	background-image: url(../../images/play@2x.png);
}
.snake-direction-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.snake-direction {
	display: flex;
	flex-wrap: wrap;
	width: 160px; 
	height: 160px;
	border: 2px solid #414042; 
	background-color: #414042; 
	border-radius: 100%; 
	overflow: hidden; 
	transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg); 
}

.snake-up, .snake-right, .snake-down, .snake-left {
	position: relative; 
	box-sizing: border-box;
	width: 80px; 
	height: 80px; 
	background-color: #ddd;
}

.snake-up::after, 
.snake-right::after, 
.snake-down::after, 
.snake-left::after {
	content: ''; 
	position: absolute; 
	left: 40px; 
	top: 40px; 
	width: 10px; 
	height: 10px; 
	border-width: 2px 0 0 2px; 
	border-color: #414042; 
	border-style: solid; 
	transform-origin: left top;
}
.snake-right::after {
	transform: rotate(90deg);
}
.snake-down::after {
	transform: rotate(180deg);
}
.snake-left::after {
	transform: rotate(270deg);
}

.snake-direction.up .snake-up, 
.snake-direction.right .snake-right, 
.snake-direction.down .snake-down, 
.snake-direction.left .snake-left 
{
	background-color: rgba(188, 188, 188, .7); 
}

.snake-speed {
	width: 120px; 
	height: 4px;
	margin: 20px 0;
	border-radius: 2px; 
  background-color: #fee;
  appearance: none;
	box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, .3); 
}
.snake-speed:focus {
  outline: none;
}
.snake-speed::-webkit-slider-thumb {
  appearance: none;
  width: 10px; 
	height: 10px; 
	border-radius: 100%; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3); 
	background-color: #fff; 
}

